*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: black;
    color: grey;
}
.container{
    /* border: 2px solid blue; */
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}
.image{
    border-radius: 8px;
    transform: perspective(1000px) rotateY(20deg);
    transition: all 0.5s ease;
}
.image:hover{
    transform: perspective(1000px) rotateY(0deg);
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}
.text-container {
    border-radius: 8px;
    height: 100%;
    background-color: #FFE5E2;
    overflow: hidden;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.25));
    /* transform: perspective(1000px) rotateY(0);
    transition: all 0.5s ease; */
}
/* .text-container:hover{
    transform: perspective(1000px) rotateY(-20deg);
} */
.text-container .tabs{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
button{
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.25rem;
    transition: 0.5s ease-in-out;
    background-color: #b6c9f0;
    color: #ee6910;
}
#first{
    border-top-left-radius: 8px;
}
#third{
    border-top-right-radius: 8px;
}
.live{
    background-color: #FFE5E2;
}
button:hover:not(.live) {
    background-color: #e93b81;
    transform: scale(1.04);
    color: white;
  }
.text{
    padding: 2rem 1.5rem;
}
.text h1{
    font-size: 3rem;
    color: #f0b515;
    text-align: center;
    text-shadow: 1px 1px #070707;;
}
.text h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
    color: #070707;
}
.text p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (max-width : 768px){
    .container {
        grid-template-columns: 1fr;
    }
    .text h1 {
        font-size: 2rem;
    }
    button{
        font-size: 0.8rem;
    }
}